<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>HOTEL</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CustomerController</display-name>
    <servlet-name>CustomerController</servlet-name>
    <servlet-class>controller.CustomerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerController</servlet-name>
    <url-pattern>/CustomerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HotelsController</display-name>
    <servlet-name>HotelsController</servlet-name>
    <servlet-class>controller.HotelsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HotelsController</servlet-name>
    <url-pattern>/HotelsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BusinessInformationController</display-name>
    <servlet-name>BusinessInformationController</servlet-name>
    <servlet-class>controller.BusinessInformationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BusinessInformationController</servlet-name>
    <url-pattern>/BusinessInformationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReservationHistoryController</display-name>
    <servlet-name>ReservationHistoryController</servlet-name>
    <servlet-class>controller.ReservationHistoryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservationHistoryController</servlet-name>
    <url-pattern>/ReservationHistoryController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AirplanController</display-name>
    <servlet-name>AirplanController</servlet-name>
    <servlet-class>controller.AirplanController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AirplanController</servlet-name>
    <url-pattern>/AirplanController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AirplaneController</display-name>
    <servlet-name>AirplaneController</servlet-name>
    <servlet-class>controller.AirplaneController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AirplaneController</servlet-name>
    <url-pattern>/AirplaneController</url-pattern>
  </servlet-mapping>
</web-app>